<dl>
  <dt>timezone</dt>
  <dd><%= @exchange_infos[:timezone] %></dd>
  <dt>serverTime</dt>
  <dd><%= @exchange_infos[:serverTime] %></dd>
  <dt>rateLimits</dt>
  <dd>
    <table>
      <tr>
        <th>rateLimitType</th>
        <th>interval</th>
        <th>intervalNum</th>
        <th>limit</th>
      </tr>
      <% @exchange_infos[:rateLimits].each do |rate_limit| %>
        <tr>
          <td><%= rate_limit[:rateLimitType] %></td>
          <td><%= rate_limit[:interval] %></td>
          <td><%= rate_limit[:intervalNum] %></td>
          <td><%= rate_limit[:limit] %></td>
        </tr>
      <% end %>
    </table>
  </dd>
  <dt>exchangeFilters</dt>
  <dd><%= @exchange_infos[:exchangeFilters] %></dd>
  <dt>symbols (first)</dt>
  <dd>
    <table>
      <tr>
        <th>symbol</th>
        <th>status</th>
        <th>baseAsset</th>
        <th>quoteAsset</th>
        <th>orderTypes</th>
        <th>filters</th>
        <th>permissions</th>
        <th>hash keys</th>
      </tr>
      <% @exchange_infos[:symbols].each do |symbol| %>
        <tr id="<%= symbol[:symbol] %>">
          <td><%= symbol[:symbol] %></td>
          <td><%= symbol[:status] %></td>
          <td><%= symbol[:baseAsset] %></td>
          <td><%= symbol[:quoteAsset] %></td>
          <td>
            <% symbol[:orderTypes].each do |order_type| %>
              <%= order_type %><br/>
            <% end %>
          </td>
          <td>
            <% symbol[:filters].each do |filter| %>
              <%= filter %><br/>
            <% end %>
          </td>
          <td>
            <% symbol[:permissions].each do |permission| %>
              <%= permission %><br/>
            <% end %>
          </td>
          <td>
            <% symbol.keys.each do |key| %>
              <%= key %><br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </dd>
</dl>
