<div class="container-fluid mt-3">
  <h2><%= icon('fas', 'coins', 'Coins', class: 'm-1') %></h2>
  <p class="m-0 p-0">Coins that have been created in this app's database.</p>
  <p class="m-0 p-0 text-muted">lib/tasks/create_first_coins.rake</p>
</div>

<div class="container-fluid mt-3">
  <div class="row">
    <% @coins.each do |coin| %>
      <div id="col-<%= coin.own_symbol %>" class="col-md-3">
        <div class="card m-1">
          <div class="card-header text-center">
            <h5 class="card-title"><%= coin.own_symbol %></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center">
                <p class="m-0"><%= coin.name %></p>
                <p class="m-0 text-muted"><%= coin.usd_symbol %></p>
              </div>
              <div class="col-6 d-flex justify-content-end align-items-end">
                <%= link_to icon('fas', 'tag', 'Prices', class: 'm-1'), coin_path(coin), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
