<div class="container-fluid mt-3">
  <h2><%= icon('fas', 'tag', 'Prices', class: 'm-1') %></h2>
  <p class="m-0 p-0">Prices collected for <%= @coin.name %> (<%= @coin.own_symbol %>).</p>
  <p class="m-0 p-0 text-muted">Automatically running every hour on the hour.</p>
</div>

<div class="container-fluid mt-3">
  <%= link_to icon('fas', 'download', 'CSV', class: 'm-1'), prices_path(format: :csv, coin_id: @coin), class: 'btn btn-primary' %>
</div>

<div class="container-fluid mt-3">
  <%= render @coin.prices.first(48) %>
</div>
